@using ArcheryApplication.Classes
@model ArcheryApplication.Classes.Wedstrijd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Wedstrijd</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Datum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Datum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Soort)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Soort)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vereniging)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vereniging.Naam)
            </dd>
        </dl>
        <hr />
        <p>
            <div class="text-warning">
                @Html.ActionLink("Terug naar wedstrijdenoverzicht", "Index") |
                @Html.ActionLink("Bewerk wedstrijd", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Verwijder wedstrijd", "Delete", new { id = Model.Id })
            </div>

        </p>
        <hr />
        <div class="dl-horizontal">
            <table data-role="table" data-mode="columntoggle" class="table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">Baan</th>
                        <th class="col-md-3" name="SchutterNaam">Schutternaam</th>
                        <th class="col-md-3" name="SchutterDiscipline">Discipline</th>
                        <th class="col-md-3" name="SchutterKlasse">Klasse</th>
                        <th class="col-md-3" name="SchutterGeslacht">Geslacht</th>
                    </tr>
                </thead>
                @foreach (Baan b in Model.GetBanen())
                {
                    <tbody>
                        <tr>
                            <td>@b.BaanId</td>
                            @if (b.Schutter != null)
                            {
                                <td name="@b.Schutter.Naam">@Html.DisplayFor(model => b.Schutter.Naam)</td>
                                <td name="@b.Schutter.Discipline">@Html.DisplayFor(model => b.Schutter.Discipline)</td>
                                <td name="@b.Schutter.Klasse">@Html.DisplayFor(model => b.Schutter.Klasse)</td>
                                <td name="@b.Schutter.Geslacht">@Html.DisplayFor(model => b.Schutter.Geslacht)</td>
                                <td>@Html.ActionLink("Edit", "EditSchutter", new { id = b.Schutter.Id })</td>
                            }
                            else
                            {
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>@Html.ActionLink("Add", "AddSchutter", new { id = b.Id, wedId = Model.Id })</td>
                            }
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
}