@model IEnumerable<App>
@using ArcheryApplication;
@{
    ViewBag.Title = "Index";
    App app = new App();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Creëer nieuwe wedstrijd", "Create")
</p>
<table class="table">
    <tr>
        <th>Wedstrijdoverzicht</th>
    </tr>

    @foreach (var item in app.GetWedstrijden())
    {
        <tr>
            <td>
                <div class="col-md-10">
                    @item.Naam
                </div>
                <div class="col-md-10">
                    @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new { Id = @item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                </div>
            </td>
        </tr>
    }

</table>
