@model IEnumerable<App>
@using ArcheryApplication;
@using WebGrease
@{
    ViewBag.Title = "Index";
    App app = new App();
}

<h2>Wedstrijdoverzicht</h2>

<p>
    @Html.ActionLink("Creëer nieuwe wedstrijd", "Create")
</p>
<table class="table">
    <tr>
        <th>Wedstrijdoverzicht</th>
    </tr>

    @foreach (var item in app.GetWedstrijden())
    {
        <tr>
            <td>
                <div class="col-md-10">
                    @item.Naam (@item.Soort.ToString())
                </div>
                <div class="col-md-10">
                    @Html.ActionLink("Edit", "Edit", new { Id = @item.Id }, null) | 
                    @Html.ActionLink("Wedstrijdinformatie", "Details", new { Id = @item.Id }, null) | 
                    @Html.ActionLink("Delete", "Delete", new { Id = @item.Id }, null)
                </div>
            </td>
        </tr>
    }

</table>
